*

# Top-level
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.zlogout
!/.zprofile
!/.zshrc
!/LICENSE
!/flatpak.txt
!/setup.zsh
!/yay.txt

# Submodules
!/.goenv
!/.nvm

# Nested
!/.config/
!/.config/1Password/
!/.config/1Password/ssh/
!/.config/1Password/ssh/agent.toml
!/.config/ags/
!/.config/ags/**/*
!/.config/fcitx5/
!/.config/fcitx5/profile
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
!/.config/foot/
!/.config/foot/foot.ini
!/.config/hypr/
!/.config/hypr/**/*
!/.config/op/
!/.config/op/plugins.sh
!/.config/systemd/
!/.config/systemd/system/
!/.config/systemd/system/**/*
!/.config/systemd/sync-system.sh
!/.local/
!/.local/share/
!/.local/share/applications/
!/.local/share/applications/btop.desktop
!/.local/share/applications/discord.desktop
!/.local/share/applications/prismlauncher.desktop
!/.local/share/applications/youtube-music.desktop
!/.ssh/
!/.ssh/config
!/.ssh/local-config.example
!/.vscode/
!/.vscode/settings.json
!/meta/
!/meta/**/*
!/Projects/
!/Projects/tmk04/
!/Projects/tmk04/.gitconfig

# Global
.DS_Store
