*

# Top-level
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.zlogout
!/.zprofile
!/.zshrc
!/LICENSE
!/flatpak.txt
!/setup.zsh
!/yay.txt

# Submodules
!/.goenv
!/.nvm

# Nested
!/.config/
!/.config/1Password/
!/.config/1Password/ssh/
!/.config/1Password/ssh/agent.toml
!/.config/Kvantum/
!/.config/Kvantum/kvantum.kvconfig
!/.config/dunst/
!/.config/dunst/dunst.conf
!/.config/dunst/wallbash.conf
!/.config/fcitx5/
!/.config/fcitx5/profile
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
!/.config/hyde/
!/.config/hyde/hyde.conf
!/.config/hypr/
!/.config/hypr/**/*
.config/hypr/a/theme.conf
!/.config/kitty/
!/.config/kitty/kitty.conf
!/.config/kitty/theme.conf
!/.config/op/
!/.config/op/plugins.sh
!/.config/nvim
!/.config/rofi/
!/.config/rofi/**/*
!/.config/systemd/
!/.config/systemd/system/
!/.config/systemd/system/**/*
!/.config/systemd/sync-system.sh
!/.config/waybar/
!/.config/waybar/config.ctl
!/.config/waybar/modules/
!/.config/waybar/modules/*
!/.config/wlogout/
!/.config/wlogout/**/*
!/.config/xdg-desktop-portal/
!/.config/xdg-desktop-portal/hyprland-portals.conf
!/.config/xdg-desktop-portal-termfilechooser/
!/.config/xdg-desktop-portal-termfilechooser/config
!/.local/
!/.local/share/
!/.local/share/applications/
!/.local/share/applications/btop.desktop
!/.local/share/applications/prismlauncher.desktop
!/.local/share/applications/youtube-music.desktop
!/.local/share/bin/
!/.local/share/bin/*
!/.ssh/
!/.ssh/config
!/.ssh/local-config.example
!/.vscode/
!/.vscode/settings.json
!/meta/
!/meta/**/*
!/Projects/
!/Projects/tmk04/
!/Projects/tmk04/.gitconfig
!/Projects/soloer/
!/Projects/soloer/.gitconfig

# Global
.DS_Store
