*

# Top-level
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.zlogout
!/.zprofile
!/.zshrc
!/LICENSE
!/setup.zsh

# Submodules
!/.nvm

# Nested
!/.config/
!/.config/1Password/
!/.config/1Password/ssh/
!/.config/1Password/ssh/agent.toml
!/.config/op/
!/.config/op/plugins.sh
!/.ssh/
!/.ssh/*.pub
!/.ssh/config
!/.ssh/local-config.example
!/.vscode/
!/.vscode/settings.json
!/meta/
!/meta/**/*
!/Projects/
!/Projects/klaytn/
!/Projects/klaytn/.gitconfig
!/Projects/tmk04/
!/Projects/tmk04/.gitconfig

# Global
.DS_Store
