[submodule "goenv"]
	path = .goenv
	url = https://github.com/go-nv/goenv
[submodule "nvm"]
	path = .nvm
	url = https://github.com/nvm-sh/nvm

[submodule "antidote"]
	path = meta/antidote
	url = https://github.com/mattmc3/antidote
[submodule "fzf-tab"]
	path = meta/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "kmonad"]
	path = meta/kmonad
	url = https://github.com/kmonad/kmonad
[submodule "meta/youtube-music"]
	path = meta/youtube-music
	url = https://github.com/th-ch/youtube-music
[submodule "meta/clipse"]
	path = meta/clipse
	url = https://github.com/savedra1/clipse.git
