[Install]
WantedBy=multi-user.target

[Unit]
Description=KMonad All
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/lib/systemd/system/kmonad-all.sh
Restart=always
RestartSec=10
