[Desktop Entry]
Type=Application
Name=Prism Launcher
GenericName=MineCraft Ely.by Launcher
Exec=/home/floer/Projects/tmk04/ElyPrismLauncher/install/PrismLauncher
Icon=/home/floer/Projects/tmk04/ElyPrismLauncher/program_info/org.prismlauncher.PrismLauncher.svg
