[Desktop Entry]
Type=Application
Name=YTM
GenericName=YouTube Music
Exec="/home/floer/meta/youtube-music/pack/YouTube Music-3.5.1.AppImage"
Icon=/home/floer/meta/youtube-music/assets/youtube-music.svg
