[Desktop Entry]
Type=Application
Name=YouTube Music
GenericName=YTM
Exec="/home/floer/meta/youtube-music/pack/YTM.AppImage"
Icon=/home/floer/meta/youtube-music/assets/youtube-music.svg
